body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: #1d1e20;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;

}

.menu, li {
    margin-left: 10px;
}

.menu, li, a {
    display: flex;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}